.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -50%);
    background: rgb(26, 26, 26);
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.255);
    padding: 50px;
  }
  
  .popup-form input {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .popup-form button {
    margin-top: 20px;  font-size: 16px;
    padding: 10px 60px;
    width: 100%;
    background-color:orange;
    border: none;
    cursor: pointer;
  }

  .popup-form button:hover {
    scale: 1.01;
    background-color: orange;
  }
  