.contact-us {
    justify-content: center;
    align-items: baseline;
    margin-top: 3%;
    margin-left: 3%;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease, opacity 1s ease;
}
.in-view .contact-us {
    animation: slideInUp 1s forwards;
}

.contact-us-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us-topic {
    font-size: 40px;
}

.mobile {
    width: 20px;
    height: auto;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone h4 {
    margin-left: 10px;
}

.phone h4 a {
    text-decoration: none;
    color: #000;
}

.phone h4 a:hover {
    text-decoration: underline;
}

.email {
    width: 20px;
    height: auto;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail h4 {
    margin-left: 10px;
}

.mail h4 a {
    text-decoration: none;
    color: #000;
}

.mail h4 a:hover {
    text-decoration: underline;
}

.name-input {
    width: 350px;
    padding: 10px;
    margin-bottom: 10%;
    background: rgb(246, 244, 244);
}

.email-input {
    width: 350px;
    padding: 10px;
    background: rgb(246, 244, 244);;
}

.subject-input {
    width: 400px;
    padding: 10px;
    background-color: rgb(246, 244, 244);
    border: none;
}

.message-input {
    width: 400px;
    height: 200px;
    padding: 10px;
    text-align: start;
    border: none;
    background-color: rgb(246, 244, 244);
}

form input {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 5%;
    opacity: 1; 
    transform: translateY(0); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
}

.contact-form button {
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    font-size: 14px;
    margin-left: 2%;
    margin-top: 2%;
    background-color: rgb(255, 227, 127);
    color: #000;
    position: relative;
    transition: all 0.3s ease;
    border: none;
}

.contact-form button:hover {
    animation: pulse 1s infinite;
    cursor: pointer;
}

.contact-others {
    opacity: 1; /* Make initially visible */
    transform: translateY(0); /* No transform initially */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.branches {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.branch-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.phone-logo-branch {
    width: 50px;
    height: 50px;
}

.phone-logo {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 5px;
}

.with-phone {
    display: flex;
}

.contact a {
    text-decoration: none;
    color: #000;
}

.contact a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.with-location {
    display: flex;
}

.location-logo {
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-right: 5px;
}

.address a {
    text-decoration: none;
    color: #000;
}

.address a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form-topic {
    margin-left: 5%;
}

.branches {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.contact-others h1 {
    text-align: center;
    margin-top: 15%;
}

.avisawella, .udapussullawa {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 50px;
}

.avisawella a, .udapussullawa a {
    text-decoration: none;
    color: #000;
}

.avisawella a:hover, .udapussullawa a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.phone-logo-branch {
    width: 60px;
    height: 60px;
}

.branch-logo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

/* Fade-in animation when scrolling into view */
.fade-in {
    opacity: 1; /* Fully visible */
    transform: translateY(10%); /* Reset transform */
    transition: transform 1s ease, opacity 1s ease;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
