/* Navbar base styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 232, 226);
  color: #000;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 50px;
  margin-right: 10px;
}

.navbar-logo h2 {
  color: #000;
  display: inline-block;
}

#navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-item {
  margin-right: 10px;
  position: relative;
  padding: 10px;
  color: #000;
}

.navbar-item:hover {
  border: 1px dashed #000;
}

.navbar-item a {
  color: #000;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar-item.active {
  border: 2px solid #000;
}

.navButton .prescription {
  background-color: rgb(255, 227, 127);
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10%;
  font-size: 14px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  content: ' ▼';
  font-size: 12px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  list-style: none;
  padding: 5px 2px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Hamburger Menu */
nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-around;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(255, 227, 127);
  border-radius: 0.2rem;
}

/* Mobile view */
@media only screen and (max-width: 430px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  #navbar-links.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  #navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
