/* src/components/Login.css */



.login-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items:center;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   height: 100vh;
  
  
  }
  
  .login-form {
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   height:600px;
   width: 500px;
   background-color: rgba(128, 126, 126, 0.562); 
   padding: 50px;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.473);
   margin-left: 10%;;
  }
  
  .login-form h2 {
   margin-bottom: 80px;
  }
  
  
  
  .login-form label {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   width: 100%;
  }
  
  .email-input,
  .password-input,.nic-input,.contact-input,.name-input,.dob-input,.address-input,.confirmPassword-input {
   padding: 8px;
   font-size: 22px;
   width: 100%;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
  }

  
  
  .login-form button {
   padding: 10px;
   font-size: 20px;
   width: 100%;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   
  }

  .login-form button a{
    text-decoration: none;
    color: #fff;
  }
  
  .login-form button:hover {
   background-color: #0056b3;
  }
  
  .login-name{
   color: #fff;
   font-size: 40px;
  }
  
  .genuine {
    font-size: 80px;
  }
  
  .pharmacy{
    font-size: 50px;
    text-align: center;
  }
  
  .logo{
    height: 200px;
    width: 200px;
    margin-left: 24%;
    
  }